/* You can not modify anything in the HTML */
/* You can only modify the CSS file */


/* Resetting all the CSS To default */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.2s linear;
    }
    
    html {
        overflow-x: hidden;
        scroll-behavior: smooth;
        scroll-padding-top: 6m;
        font-size: 62.5%;
    }
    
    body {
        display: flex;
        align-content: center;
        justify-content: center;
        align-items: center;
    }
    
    /* adding Contenter With to 1140px for big screen */

     .container {
            max-width: 1140px;
            display: flex;
            align-content: center;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }


/* creating varible to store some default value to the css */

:root {

    --light-gray-color: #cbcbcb;
    --main-color:#5955b3;
    --hedding-color: #3c2f60;
    --black-color: #000000;
    --hedline-font-family: 'Poppins', sans-serif;;
    --body-font-family: 'Poppins', sans-serif;

}
/* Styling navigation container */
.navbar-container {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    gap: 23.5rem;
    padding: 3rem;
}

/* setting with to LOGO img */
.navbar-container div img {
    height: 4.4rem;
}

/* styling the list of MENU item */
.list {
    display: flex;
    gap: 3rem;
    font-size: 1.6rem;
    list-style-type: none;
    font-family: var(--body-font-family);
    color: var(--light-gray-color);
}

/* targeating the first child of MENU List */
.list :nth-child(1) {
    font-weight: 700;
    position: relative;
    color: var(--black-color);
}

/* styling the nev button */
.nav-button {
    padding: 1rem;
    background-color: var(--main-color);
   border-radius: 1rem;
   width: 10.1rem;
   color: var(--light-gray-color);
}

/* Bringing MENU list to left and closing gap between logo and menu */
.grow-list {
    margin-left: -18rem;
}

/* adding gap to the Nav Button to right */
.button-group {
    margin-left: 20rem;
}

/* Alinging hero section */
.banner-container {
    display: flex;
    align-items: center;
    gap: 6rem;
}

/* styling the Hero Hedline */
.heading-text {
    font-family: var(--hedline-font-family);
    font-size: 5rem;
    color: var(--hedding-color);
    font-weight: 600;
}

/* changing text::'CRUSH' colour  */
.heading-text span {
    color:var(--main-color);
}

/* styling Hero discription text */
.description {
    font-family: var(--body-font-family);
    font-size: 1.3rem;
    color: var(--light-gray-color);
    font-weight: 400;
    width: 31rem;
    margin-top: 1rem;
} 

/* styling hero button */
.btn {
    padding: 2rem;
    width: 20rem;
    margin-top: 7rem;
}

/* alining hero Img */
img[alt="illustration"] {
    width: 88rem;
    height: 62rem;
    margin-right: -20rem;
}